Robert Rothenberg <rrwo@cpan.org> <robrwo@gmail.com>
Robert Rothenberg <rrwo@cpan.org> <robrwo+github@gmail.com>
Robert Rothenberg <rrwo@cpan.org> <rrwo@thermeon.com>
Yanick Champoux <yanick+cpan@babyl.dyndns.org> <yanick@babyl.dyndns.org>
Sergey Romanov <sromanov@cpan.org> <sromanov-dev@yandex.ru>